body {
    font-family: system-ui, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
}

p {
    font-weight: 400;
}

#header {
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

#projects {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 20px
}

.intro-text {
    margin: 20px;
}

.text-1 {
    color: rgb(0, 0, 0);
    padding: 60px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; /* Smooth transition for hover effects */
    width: 300px; /* Set a fixed width */
    border-radius: 5px; /* Rounded corners */
    background-color: #dadada;
    margin: 20px 0 20px 0; /* Spacing between multiple cards */
    display: flex;
}

/* On mouse-over, add a deeper shadow for interactivity */
.card:hover {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container for the text */
.container {
    padding: 2px 16px;
}

/* Style the text elements within the container */
.container h2 {
    font-size: 22px;
}

.container p {
    font-size: 16px;
    color: #555;
}

.container a {
    text-decoration: none;
    color: black;
}

.container:hover a {
    text-decoration: underline;
}